body{
    background-color: grey;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
#header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 68, 255);
}
#content{
    display: flex;
    justify-content: space-around;
}
#calculatorBody{
    height: 400px;
    width: 250px;
    background-color: rgb(0, 68, 255);
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    flex: 1 1 0%; */
}
#screen{
    display: flex;
    justify-content: end;
    height: 25%;
    background-color: rgb(197, 197, 197);
}
p{
    font-size: 30px;
    margin-right: 5px;
}
#buttons{
    display: flex;
    flex-direction: column;
    height: 75%;
    gap: 2px;
    margin: 4px;
}
.rowButtons{
    display: flex;
    height: 50%;
    gap: 2px;
}
.rowButtons > button{
    width: 100%;
    background-color: rgb(197, 197, 197);
    border: solid black 1px;
}
.footer{
    display: flex;
    background-color: rgb(0, 68, 255);
    justify-content: space-around;
    
}
